
{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block header %}
    {% include "partials/navbar.html.twig" %}
{% endblock %}

{% block content %}
    <section class="Container Container__slim">
        {# Output content if any before post list #}
        {{ page.content|raw }}

        {# Output blog post list #}
        {% for child in collection|reverse %}
            <div class="BlogPostCard">
                <div class="BlogPostCard_title">{{ child.title }}</div>
                <div class="BlogPostCard_date">{{ child.date|date("m/d/Y") }}</div>
                <div class="BlogPostCard_author">By {{ child.header.author|e }}</div>
                <div class="BlogPostCard_abstract">{{ child.summary(400)|regex_replace('/<img.*>/', '')|raw }}</div>
                <div class="BlogPostCard_link"><a href="{{ child.route }}">Read more...</a></div>
            </div>
        {% endfor %}

        {# Render the pagination list #}
        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        {% endif %}
    </section>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html.twig" %}
{% endblock %}
